.our-stories {
  width: 100vw;
  padding: 10rem 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  overflow-x: hidden;
}
.mySwiper {
  width: 1400px;
}
.mySwiper p {
  color: #e4dfd4;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.our-stories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -8rem;
  padding: 0 5rem;
}

.our-stories-header-link a {
  border: 1px solid #fff;
  color: #fff;
  font-family: GTAmerica, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 400;
  text-align: center;
  padding: 1.3rem 3.5rem;
  transition: 1s;
  z-index: 4;
}
.our-stories-header a:hover {
  color: black;
  background-color: #fff;
}

.our-stories-header h3 {
  color: #f2f2f2;
  font-size: 2.875rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-family: SchnyderSDemi, Georgia, Times, Times New Roman, serif,
    Apple Color Emoji, Segoe UI Emoji;
}

.mySwiper img {
  width: 100%;
}
.mySwiper h4 {
  color: #ededed;
  font-weight: 300;
  font-family: GTAmerica, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1.375rem;
}

.mySwiper div {
  border-left: 0.1px solid #fff;
  padding: 0 3% 5%;
  position: relative;
}
.mySwiper .swiper-pagination {
  width: 90vw !important;
  background: rgb(82, 82, 82) !important;
  padding: 0.001px 0 !important;
  bottom: 50px;
  left: -2.5%;
}
.mySwiper .swiper-pagination span {
  background: #fff !important;
}

.our-stories .projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7rem;
}

.our-stories .projects img {
  width: 100%;
  object-fit: cover;
}
.single-project {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  /* height: 200%; */
}
.single-project:hover img {
  transform: scale(1.2);
  transition: 1s;
}
.our-stories .projects .projects-content {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 8%;
  font-family: GTAmerica, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.our-stories .projects .projects-content p:nth-child(2) {
  font-size: 1.375rem;
}
@media (max-width: 620px) {
  .projects-content p {
    font-size: 0.5rem !important;
  }
}
@media (max-width: 1020px) {
  .our-stories .projects {
    flex-direction: column;
  }
  .our-stories-header a {
    display: none;
  }
  .our-stories-header h3 {
    font-size: 2.125rem;
  }
  .our-stories .projects img {
    max-height: 400px;
    height: 90vw;
  }
  .mySwiper {
    width: 1020px;
  }
}
