.newsletter {
  text-transform: uppercase;
  background-color: #dbd4c5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
}
.newsletter div .newsletter-head {
  margin-left: 1rem;
}

.newsletter-form {
  padding: 2rem auto auto auto;
  margin-right: -5rem;
}

.newsletter-form-item-input input {
  height: 3.5rem;
  padding: 0 20px;
  border: 0;
  width: 35vw;
  margin-right: 200px;
}
.newsletter-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.newsletter-checkbox p {
  font-size: 5px;
  font-weight: 400;
  width: 35vw;
}
.newsletter-checkbox input {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem 1rem 1rem 0;
}
.newsletter-head {
  width: 20%;
  margin: 0 5% 10% 10%;
}
.newsletter-button button {
  font-size: 16px;
  /* text-transform: none; */
  padding: 1rem 4.5rem;
  letter-spacing: 0.125px;
  background: rgb(27, 27, 27);
  color: #fff;
}

.newsletter-button button:hover {
  color: #000;
  background: #fff;
  animation: fadeIn 1s;
}
