<div [ngClass]="{ 'home-menu': true, active: isMenuClicked }">
  <div class="home-menu-header">
    <a href="##">sign in</a>
    <a href="##">stay update</a>
    <button (click)="setIsMenuClicked()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <ul>
      <div>
        <li class="home-menu-li-container">
          <button type="button" (click)="setIsClicked()">
            Lucid Air

            <mat-icon *ngIf="!isClicked">add</mat-icon>
            <mat-icon *ngIf="isClicked">remove</mat-icon>
          </button>
          <ul *ngIf="isClicked">
            <li>
              <a href="##">Overview</a>
            </li>
            <li>
              <a href="##">Design</a>
            </li>
            <li>
              <a href="##">Performance</a>
            </li>
            <li>
              <a href="##">Charging</a>
            </li>
            <li>
              <a href="##">Connectivity</a>
            </li>
          </ul>
        </li>
      </div>
      <li>
        <a href="##">Lucid Gravity</a>
      </li>
      <li>
        <a href="##">Design Yours</a>
      </li>
      <li>
        <a href="##">Reserve</a>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <a href="##">More about Lucid</a>
      </li>
      <li>
        <a href="##">Company</a>
      </li>
      <li>
        <a href="##">Investors</a>
      </li>
      <li>
        <a href="##">Stories</a>
      </li>
      <li>
        <a href="##">Tech Talks</a>
      </li>
      <li>
        <a href="##">Careers</a>
      </li>
    </ul>
  </div>
</div>
