.compare-page-container {
  width: 100vw;
  padding: 50px 0;
  background-color: black;
  color: aliceblue;
  position: relative;
}
.compare-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/Screenshot 2022-11-13 041856.jpg");
  background-size: cover;
  background-position: 0 88vh;
  gap: 10px;
  padding: 0 40px 0 20px;
}

.compare-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.car-selector {
  border: 1px solid #fff;
  padding: 5% 7.5%;
  display: flex;
  cursor: pointer;
  position: relative;
}
.car-selector svg {
  font-size: 1.5rem;
  transition: 0.5s;
}
.car-selector-img-container {
  height: 50%;
  position: absolute;
  display: flex;
  right: 0;
}

.active svg {
  rotate: 180deg;
}

.select-model {
  margin-left: 6.6%;
}
.car-picture-container img {
  width: 97%;
  margin-top: 35%;
}

.car-color-container img {
  width: 100%;
}
.car-color-container {
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.car-color-container div {
  width: 30%;
}
.car-wheel-container {
  display: grid;
  gap: 10px;
  width: 100%;
  position: relative;
}
.car-wheel-container img {
  width: 100%;
}
.car-button {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 4;
}
.car-wheel-name {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
}
.car-button button {
  border: 1px solid white;
  background: inherit;
  color: #fff;
  width: 40%;
  padding: 6%;
  cursor: pointer;
  margin-top: 10%;
}

.car-menu-selector-item {
  display: flex;
  align-items: center;
  flex: 1 1;
  text-align: center;
  width: 87.5%;
  left: 6.5%;
  position: absolute;
}
.car-menu-selector-item div {
  border: 1px solid white;
  background: rgb(22, 22, 22);
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.car-menu-selector-item div:hover {
  background: black;
}
.car-menu-selector-item p {
  font-size: 1.001vw;
  margin: 1.8rem 0;
}
@media (max-width: 480px) {
  .compare-card-container {
    flex-direction: column;
  }
}
