<div class="compare-page-container" id="cars-comparer">
  <div class="compare-card-header">
    <div>
      <h1>Compare Lucid Models</h1>
    </div>
    <div>
      <p>Need help choosing? Contact Us</p>
    </div>
  </div>
  <div class="select-model">
    <p>select mode</p>
  </div>
  <div class="compare-card-container">
    <app-compare-cars-card [car]="carOne"></app-compare-cars-card>
    <app-compare-cars-card [car]="carTwo"></app-compare-cars-card>
    <app-compare-cars-card [car]="carThree"></app-compare-cars-card>
  </div>
</div>
