.our-vision-container-p {
  font-size: 2.5rem;
  position: fixed;
  top: 10%;
  color: #fff;
  text-align: center;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -100;
}
.our-vision-container {
  background-image: url("../../../assets/vision-background-1-70.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -101;
}
